* {
    margin : 0px;
}

.title{
    position: relative;
    margin: 25px;
    padding: 10px;
   
}


.row{
    margin : 0px !important;
    display: inline;
}
.body {
  background-color: pink;
}
.container-fluid {
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke
}

.card {
    display: inline-block;
    font-size: 0;
  width: 200px;
  height: 150px;
  background-color: white;
  margin: 20px;
  margin-left: 25px;
  box-shadow:5px 15px  20px 5px lightgrey; 
}

.card-title {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 0px !important;
}

p {
  font-size: 10px;
  color: grey;
}
.cards{
    display: inline-block;
}
.card-text-left {

   text-align:center;
   margin: 20px;
}

.card-text-right {
   text-align: right;
margin: 20px;
float: right;
}

.card-text-center{
    margin-top: 10px;
 margin-left: 9px;
    margin-right : 9px;
  font-size: 36px;
}

.cards{
    display: inline;
    width: 100%;
}

img{
    height: 50px;
    width : auto;
}

.card-image{
    width: 30%;
    margin: auto;
    margin-top: -25px;
}

.red-line{
    border-bottom: solid 5px red;
    width: 100%;
    
    position: absolute;
   bottom: 0;
}
